
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    
}
.container{
    flex: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.todo-app{
    flex: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    border: 3px solid rgb(111, 255, 0);

}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e1e2e6;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.row:hover{
    border: 2px solid blue;
    background-color: rgb(221, 221, 221);
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: blue;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    

}

button:hover{
    transition: .4s ease;
    background-color: rgb(31, 221, 31);
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("unchecked.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url("checked.png");
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: rgb(255, 94, 0);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #b7bcc6;
    transition: .4s ease;
}

@media only screen and (max-width: 376px) and (orientation: portrait) {

    .todo-app{
        flex: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 540px;
        background: white;
        margin: 100px auto 20px;
        padding: 40px 10px 70px;
        border-radius: 10px;
        border: 3px solid rgb(111, 255, 0);
    
    }
}
@media only screen and (max-width: 360px) and (orientation: portrait) {

    .todo-app{
        flex: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 540px;
        background: white;
        margin: 100px auto 20px;
        padding: 40px 10px 70px;
        border-radius: 10px;
        border: 3px solid rgb(111, 255, 0);
    
    }

    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #e1e2e6;
        border-radius: 30px;
        padding-left: 1%;
        margin-bottom: 25px;
    }
    input{
        flex: 1;
        border: none;
        outline: none;
        background: transparent;
        padding: 10px;
    }
}
@media only screen and (max-width: 391px) and (orientation: portrait) {

    .todo-app{
        flex: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 540px;
        background: white;
        margin: 100px auto 20px;
        padding: 40px 10px 70px;
        border-radius: 10px;
        border: 3px solid rgb(111, 255, 0);
    
    }
}
@media only screen and (max-width: 350px) and (orientation: portrait) {

    .todo-app{
        flex: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 540px;
        background: white;
        margin: 100px auto 20px;
        padding: 40px 1px 70px;
        border-radius: 10px;
        border: 3px solid rgb(111, 255, 0);
    
    }
}
